<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   MessagingExampleSwift.entitlements
   PushSample

   Created by Jesus Diestra on 8/7/20.
   Copyright (c) 2020 Jesus Diestra. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>aps-environment</key>
    <string>development</string>
</dict>
</plist>
